## Please review pkgs before installing to prevent unintended malware.
## Pay close attention to the pkg name when installing (e.g., no spelling errors/variants).

## Programming Lx 
python

## Data Manipulation
pandas
numpy

## Data Extraction 
beautifulsoup4
urllib3
praw

## NLP Tasks
nltk
scikit-learn
bertopic
spacy

## Database Creation and Management 
mysql-connector-python
getpass

## Visualization 
matplotlib
seaborn
dash
plotly
